@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html {
  background-color: #0f4372;
}

#title {
  font-family:'Do Hyeon', sans-serif;
  color: white;
}

#paragraphidk, button, h1, {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
}

a {
  color: rgb(255, 255, 255);
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover, a:active, a:focus {
  color: rgb(255, 255, 255);
}

button {
  color: black
}

h2{
  font-family: "Comic Sans MS", cursive, sans-serif;
  user-select: none;
  font-size: 100px;
  color: white;
  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
              rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide .4s linear infinite forwards;
}
@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 600vw;
  }
}
